<head>
    <title>Kaori</title>
    <meta name="description" content="Website of kaori">
    <meta name="keywords" content="Kaori">
    <meta name="author" content="Orbit">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheet/index.css">
    <link href="../public/index.js">
</head>
<style>

</style>
<body>
    <header class="navbar">
        <a class="nav-bar">Kaori</a>
        <ul>
            <li><a class="nav" href="#commands">Commands</a></li>
            <li><a class="nav" href="dashboard">Dashboard</a></li>
            <li><a class="nav" href="#Bot">Invite Me!</a></li>
            <li><a class="nav_right" href="dashboard">Login</a></li>
        </ul>
</header>
<div id="bot" class="pfp-info">
    <img class="pfp" src="../assets/img/Marcus pfp.jpg" alt="Profile picture of bot">
    <p class="name">kaori</p>
    <p class="under-text">a bot that does random anime things!</p>
    </div>
    <header class="button">
        <ul>
            <li><a class="nav" href="invite">Invite Me!</a></li>
            <li><a class="nav" href="dashboard.html">Dashboard </a></li>
        </ul>
        <div id="feature" style="height: 90px;background: black;"><div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill-opacity="1" d="M0,96L40,112C80,128,160,160,240,144C320,128,400,64,480,48C560,32,640,64,720,69.3C800,75,880,53,960,58.7C1040,64,1120,96,1200,96C1280,96,1360,64,1400,48L1440,32L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg></div></div>
</body>
</html>
